<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>{{pageName}}</h1>
        <img class="portrait" src="/img/me.jpg">
        <p>{{name}}</p>
    </div>
    {{>footer}}
</body>

</html>
{{!-- className doesn't work here --}}