<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <title>{{title}}</title>
    <header>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href='/help'>Help</a>
    </header>
    <h1>{{pageName}}</h1>
    <img class="portrait" src="/img/me.jpg">
    <p>{{name}}</p>
</body>

</html>
{{!-- className doesn't work here --}}